.side-bar {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.heading-sidebar {
    font-size: 2.5rem;
    padding: 0 5vh;
    font-weight: bold;
    margin-bottom: 0;
}

.genre-list {
    list-style: none;
    margin: 1vh 2vh;
    padding: 0;
}

.genre-list-icon {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    cursor: pointer;
}

.genre-list-item {
    margin: 2vh 0;
}

.genre-list-item-a {
    font-size: 1rem;
    color: rgb(147, 147, 147);
    text-decoration: none;
    cursor: pointer;
}

.genre-list-item-a:hover {
    text-decoration: underline;
}